:root {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fff;
}

body {
  display: flex;
  width: 95%;
  height: 100%;
  
  flex-direction: column;
  background-color: #0c2517;
  justify-content: center;
  align-content: center;
}

.header-container {
  background-color: #2e8b57;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
margin-top: -1%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  padding-top: 5%;
  width: 85%;
}

.logotipo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -8%;
}

a {
  cursor: pointer;
  color: #003366;
  font-weight: 900;
  font-style: italic;
  font-size: 200%;
  text-decoration-line: none;
  padding-left: 5%;
}

.section-header {
  display: flex;
  flex-direction: column;
  height: 550px;
}

.h1-title {
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 900;
  font-size: 400%;
  width: 70%;
  color: #fff;
  margin-left: 2%;
}

.p-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-style: oblique;
  font-size: 24px;
  color: #fff;
  margin-top: 1rem;
  margin-left: 2%;
}

.button-header {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: end;
  justify-items: end;
  flex-direction: row-reverse;

  position: absolute;
  top: 70%;
  right: 270px;

  border-radius: 15px;
  width: 10%;
  height: 9%;
  font-size: 100%;
  font-weight: 900;
  background-color: #003366;
  color: #fff;
  cursor: pointer;
}

.logotipo {
  height: 20%;
  width: 20%;
  margin-left: 2%;
}

.pages-links {
  display: flex;
  justify-content: end;
  padding: 3%;
}

.section-one {
  display: flex;
  flex-direction: column;
}

.title-one {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 90px;
  color: #fff;
  font-weight: 900;
  margin-left: 5%;
}

.image-terra {
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: -5%;
  margin-left: 48%;
  max-width: 100%;
  height: 100%;
}
.text-one {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  flex-direction: column;
  justify-items: end;
  align-items: end;
  margin-left: 85px;
  color: white;
  width: 35%;
  font-style: initial;
  font-size: 35px;
  font-weight: 100;
  margin-top: -2%;
}

.section-two {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 300px;
  flex-direction: row;
}

.image-section-two-1 {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  align-content: flex-start;

  width: 35%;
  border: inset 5px rgba(255, 255, 255, 0.229);
}
.image-section-two-2 {
  width: 35%;
  margin-top: 3%;
  margin-left: 2%;
  border: inset 5px rgba(255, 255, 255, 0.229);
}

.section-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 800px;
  padding-top: 10%;
}

.title-section-two {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  font-size: 150px;
  color: white;
  font-style: italic;
  font-weight: 900;
  width: 85%;
  margin-left: 10%;
}

.paragrafo-section-two {
  display: flex;
  width: 60%;
  font-style: initial;
  align-items: start;
  justify-content: start;
  margin-left: 10%;
  margin-top: 1%;
  font-weight: 200;
  font-size: 40px;

  color: #fff;
}

.button-section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: end;
  justify-items: stretch;
  flex-direction: row;
  position: absolute;
  left: 75%;
  border-radius: 22px;
  width: 14%;
  height: 10%;
  font-size: 132%;
  font-weight: 900;
  background-color: #003366;
  color: #fff;
  cursor: pointer;
  bottom: -349%;
}

.section-four {
  display: flex;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.section-four-div {
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 2px;
  padding-bottom: 2%;
  justify-items: flex-start;
}

.image-four-1 {
  border: inset 5px rgba(255, 255, 255, 0.229);
  width: 500px;
}

.title-section-four {
  width: 100%;
  margin-left: 5%;
  font-size: 100px;
  font-weight: 900;
  text-align: start;
  color: #fff;
  font-style: italic;
}
.section-four-div-two {
  padding-top: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  padding-bottom: 2%;
  justify-items: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}
.paragrafo-section-four {
  display: flex;
  width: 15%;
  flex-direction: column;
  font-style: initial;
  align-items: start;
  justify-content: start;
  margin-left: 39%;
  margin-top: 29%;
  font-weight: 100;
  font-size: 27px;
  position: absolute;
  color: #fff;
  word-spacing: 10px;
  line-height: 35px;
}

.image-four-2 {
  display: flex;
  border: inset 5px rgba(255, 255, 255, 0.229);
  align-items: center;
  justify-content: center;
  margin-top: -370px;
  width: 30%;
  flex-direction: row-reverse;
}

.button-section-four {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  align-content: end;
  justify-items: stretch;
  flex-direction: row;
  position: absolute;
  left: 78%;
  border-radius: 22px;
  width: 14%;
  height: 10%;
  font-size: 132%;
  font-weight: 900;
  background-color: #003366;
  color: #fff;
  cursor: pointer;
  bottom: -567%;
}

.section-five {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-items: start;
  justify-items: center;
  padding-top: 25px;
}
.div-five{
  display: flex;
  flex-direction: row;
  align-items: start;
  align-content: space-between;
  padding-bottom: 150px;
}
.rio-amazonas {
  display: flex;
  border: inset 5px rgba(255, 255, 255, 0.229);
  max-width: 590px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.title-section-five {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column-reverse;
  width: 950%;
  margin-left: 25px;
  font-size: 100px;
  color: white;
  font-style: italic;
  font-weight: 900;

}


.parafrafo-bottun-2-section-five{
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: -50%;
  padding-bottom: 250px;
}
.paragrafo-section-five{
    display: flex;
    width: 
    460px;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 27px;
    color: white;
    font-style: initial;
    font-weight: 100;
    word-spacing: 25px;
    line-height: 35px;
    margin-left: 157%;
    margin-top: 141px;
   
}

.button-section-five{
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    flex-direction: row;
    position: absolute;
    left: 69%;
    border-radius: 22px;
    width: 14%;
    height: 10%;
    font-size: 132%;
    font-weight: 900;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
    bottom: -730%;
}
.footer{
  background-color: #003366;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  max-height: 20%;
  align-content: space-between;
  flex-direction: row;
  

}

.img-footer{
  width: 30px;
  margin-right: 1%;
}
.img-footer-2{
  width: 30px;
  margin-right: 1%;
}
.img-footer-3{
  width: 30px;
  margin-right: 5%;
}